<div class="row">
  <!-- <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
  <h3 class="text-muted">Business Schools Explorer</h3>
</div>

<div class="row">
  <div>
      Choose a contry
      <select id="countriesCombo" class="combobox">
        <option value="All" selected>All</option>
      </select>
    </div>
  <parallel></parallel>
  <!-- <div class="panel panel-default">
    
  </div> -->
</div>
<div class="row">  
  <div class="panel-heading" id="numResults"></div>    
</div>
<div class="row" id="details">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Ranking Evolution</a></li>
    <li><a>Weighted salary (US$)</a></li>
    <li><a>Messages</a></li>
  </ul>
  <tableview></tableview>
</div>
<div id="tooltip"></div>
<div class="footer">
  <p>Powered by SIRIS Academic</p>
</div>
